  <h2>Lista de productos</h2>
<div align="center">
    {{#if paginateInfo.hasPrevPage}}
        <a href="{{paginateInfo.prevLink}}">Anterior</a>
    {{/if}}
    {{#each paginateInfo.totalPages}}
        <a href="{{this.link}}">{{this.page}}</a>
    {{/each}}
    {{#if paginateInfo.hasNextPage}}
        <a href="{{paginateInfo.nextLink}}">Siguiente</a>
    {{/if}}
</div>

  {{#each products}}

    <body>
                <div class="CardItem">
            <div>
                <h2 class="ItemHeader">
                   {{this.title}}
                </h2>
            </div>
            <div>
                <img class="ItemImg" src="{{this.thumbnail}}" alt="">
            </div>
            <div>
                <p className="Info">
                {{description}}</p>

            </div>
            <div>
                <p className="Info">
                Precio: {{this.price}}</p>
            </div>
        </div>
    </body>



{{/each}}